@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="text-center">
        <h1 class="display-4">Password Successfully Changed</h1>
        <a asp-action="Profile" class="btn btn-primary">Go Back To Your Profile</a>
    </div>
